<div id="hcard-{{ contact.org | slugify }}" class="vcard">
  <p class="note">In {{ contact.location }}</p>
  <div class="org mwt-contacts-info__org"><h4>{{ contact.org }}</h4></div>
  <div>
    <i class="fa fa-envelope"></i> <a class="email mwt-contacts-info__email" href="mailto:{{ contact.email }}">{{ contact.email }}</a>
  </div>
  {% if contact.address %}
  <div class="adr mwt-contacts-info__address">
    <div><i class="fa fa-map-marker"></i> Postal Address</div>
    <div class="street-address">{{ contact.address.street }}</div>
    <span class="locality">{{ contact.address.city }}</span>,
    <span class="postal-code">{{ contact.address.postcode }}</span>
    <span class="country-name">{{ contact.address.country }}</span>
  </div>
  {% endif %}
  <div class="mwt-contacts-info__tel">
    <i class="fa fa-phone-square"></i> Telephone <div class="tel">{{ contact.tel }}</div>
  </div>
</div>
