<section class="mwt-module mwt-how-to-donate">
    <div class="mwt-module__content">
        <header>
            <h2 class="mwt-how-to-donate-header__title">How to Donate</h2>
            <div class="mwt-how-to-donate-header__memo">
                <p>You can donate directly to our bank account either in United Kingdom or Pakistan.</p>
                <p>Official bank details for Mushtaq Welfare Trust are:</p>
            </div>
        </header>

        <div class="mwt-layout">

            <div class="mwt-layout__item mwt-1/2@m mwt-how-to-donate-details">
                <h3 class="mwt-how-to-donate-details__title">United Kingdom</h3>
                <p>Mushtaq Welfare Society</p>
                <ul class="mwt-how-to-donate-details__bank-account">
                    <li>NatWest</li>
                    <li>Withington Branch</li>
                    <li>Manchester, United Kindom</li>
                    <li>Account No: <strong>62554646</strong></li>
                    <li>Sort Code: <strong>01-09-78</strong></li>
                </ul>

            </div>


            <div class="mwt-layout__item mwt-1/2@m mwt-how-to-donate-details">
                <h3 class="mwt-how-to-donate-details__title">Pakistan</h3>
                <p>Mushtaq Welfare Society</p>
                <ul class="mwt-how-to-donate-details__bank-account">
                    <li> UBL Main Branch</li>
                    <li>Khanewal, Pakistan</li>
                    <li>Account No: <strong>01180707</strong></li>
                    <li>Sort Code: <strong>0204</strong></li>
                    <li>Swift Code: <strong>UNILIPKKA</strong></li>
                </ul>
            </div>
        </div>
    </div>
</section>
