<section class="mwt-module mwt-newsletter">
  <div class="mwt-module__content">
    <header>
      <h2 class="mwt-newsletter-header__title">Sign up to our newsletter</h2>
      <p class="mwt-newsletter-header__memo">Fill out the form below to get update from <span>Mushtaq Welfare Trust</span>.</p>
    </header>

    <div class="mwt-newsletter-signup-form mwt-layout">
      <form target="_top" accept-charset="utf-8" action="//mwt.us12.list-manage.com/subscribe/post?u=245117a4d4d387294882e3dbe&amp;id=dc6085e842" method="post">

        <label class="mwt-newsletter-signup-form__field-wrapper mwt-newsletter-signup-form__field-wrapper--email mwt-layout__item">
          <input class="mwt-newsletter-signup-form__field-email" required name="EMAIL" placeholder="Email Address" type="email">
        </label>

        <label class="mwt-newsletter-signup-form__field-wrapper mwt-newsletter-signup-form__field-fname-wrapper--fname mwt-layout__item">
          <input class="mwt-newsletter-signup-form__field-first-name" required name="FNAME" placeholder="First name" type="text">
        </label>

        <label class="mwt-newsletter-signup-form__field-wrapper  mwt-newsletter-signup-form__field-fname-wrapper--lname mwt-layout__item">
          <input class="mwt-newsletter-signup-form__field-last-name" required name="LNAME" placeholder="Last name" type="text">
        </label>

        <label class="mwt-newsletter-signup-form__field-wrapper mwt-layout__item mwt-newsletter-signup-form__field-wrapper--btn">
          <input class="mwt-newsletter-signup-form__submit-btn" name="submit" value="Send me update via email" type="submit">
        </label>

        <input type="hidden" name="b_245117a4d4d387294882e3dbe_dc6085e842" tabindex="-1" value="">

      </form>
    </div>

    <footer>
      <p class="mwt-newsletter-footer__memo">After submitting your name and email address, you will get an email asking you to click on the confirmation link.</p>
    </footer>
  </div>
</section>
