
// Normalize.css Imports
@import 'normalize';

* {
  box-sizing: border-box;
}

html, body { min-height: 100%; }

body,
h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
  padding: 0;
}

ul, li {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: Helvetica, Arial, freesans, sans-serif; // [1]
  font-family: 'Open Sans', sans-serif;
}

// Remove border when inside `a` element in IE 8/9/10.
a img,
img {
  border: 0;
}


p {
  padding-top: mwt-spacing(one-half-spacing-unit);
}
