// MWT spacing

$mwt-spacing: (
    half-spacing-unit: 4px,
    base-spacing-unit: 8px,
    one-half-spacing-unit: 12px,
    double-spacing-unit: 16px,
    triple-spacing-unit: 24px,
    quad-spacing-unit: 32px
) !default;
